@model QuanLyBookStore.Models.DonMua

@{
    ViewData["Title"] = "Create";
}

<h1>Thêm đơn mua</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaDM" class="control-label"></label>
                <input asp-for="MaDM" class="form-control" />
                <span asp-validation-for="MaDM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenKhach" class="control-label"></label>
                <input asp-for="TenKhach" class="form-control" />
                <span asp-validation-for="TenKhach" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenSach" class="control-label"></label>
                <select asp-for="TenSach" class ="form-control" asp-items="ViewBag.TenSach"></select>
            </div>
            <div class="form-group">
                <label asp-for="DateBuy" class="control-label"></label>
                <input asp-for="DateBuy" class="form-control" type="date"/>
                <span asp-validation-for="DateBuy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Quay lại</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
